<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <!-- mermaid.js -->
    <script src="https://unpkg.com/mermaid@8.9.3/dist/mermaid.min.js"></script>
    <script>
      $(document).ready(function () {
        mermaid.initialize({
          startOnLoad:true,
          theme: "default",
        });
        window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
      });
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>

