<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
    const config = {
        startOnLoad:true,
        theme: 'forest',
        themeVariables: {
            lineColor: "#000080"  
        },
        flowchart: {
            useMaxWidth:false,
            htmlLabels:true
            }
    };
    mermaid.initialize(config);
    window.onload = () => {
        window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    }
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>

